body {
    background: url("../vendor/img/wallpaper5.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 56px;
}

#start-purchase-btn {
    background-color: #212529;
    border-color: #212529;
    color: white;
}

#start-purchase-link {
    text-decoration: none;
    color: white;
}
